:root {
   --accent-blue:#2196F3;
   --hero-text: #ffffff;
   --basic-text-color: #212121;
   --second-text-color: #757575;
   --white-text: #ffff;
   --basic-bg: #E5E5E5;
   --second-bg: #2F303A;
   --white-bg: #ffff;
   --animation-bg: rgba(33, 150, 243, 0.9);
   --label-bg: rgba(47, 48, 58, 0.8);
   --commands-bg: #F5F4FA;
   --primary-bg-buttons: #F5F4FA
}
a {
   text-decoration: none;
}
li {
   list-style: none;
}
body {
   background-color:var(--basic-bg);
   color: var(--basic-text-color);
   font-family: 'Roboto', sans-serif;
   font-size: 14px;
   letter-spacing: 0.03em;
}
/* блок хедер */
.header {
   background-color: var(--white-bg);
}
.header-logo {
   font-family: 'Raleway', sans-serif;
   font-weight: 700;
   font-size: 26px;
   line-height: 1.2;
   color: var(--basic-text-color);
   letter-spacing: 0.03em;

}
.color-blue {
   color: var(--accent-blue);
}

.navigation-links {
   font-weight: 500;
   font-size: 14px;
   line-height: 1.15;
   letter-spacing: 0.02em;
   color: var(--basic-text-color);
}

.navigation-links:hover,
.navigation-links:focus {
   color: var(--accent-blue);
}

.adress-links {
   font-weight: 500;
   font-size: 14px;
   line-height: 1.15;
   letter-spacing: 0.02em;
   color: var(--second-text-color);
}
.adress-links:hover,
.adress-links:focus {
   color: var(--accent-blue);
}

/* блок герой */
.hero {
   background-color: var(--second-bg);
}

.hero__title {
   font-size: 44px;
   font-weight: 900;
   line-height: 1.4;
   text-align: center;
   letter-spacing: 0.06em;
   text-transform: uppercase;
   color: var(--hero-text);
}
.hero_button {
   font-style: normal;
   font-weight: 700;
   font-size: 16px;
   line-height: 1.87;
   color: var(--hero-text);
   background-color: var(--accent-blue);
   border-radius: 4px;
   border: none;
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
   display: flex;
   align-items: center;
   text-align: center;
   letter-spacing: 0.06em;
}
.hero_button:hover, :focus {
   background-color: #47a5f2;
}

/* блок description */
.description {
   background-color: var(--basic-bg);
}
.description__title {
   display: none;
}
.second__title {
   font-weight: 700;
   font-size: 14px;
   line-height: 1.14;
   letter-spacing: 0.03em;
   text-transform: uppercase;
}
.description__text {
   font-weight: 400;
font-size: 14px;
line-height: 1.7;
letter-spacing: 0.03em;
color: var(--second-text-color);
}
/* block work */
.work__title {
   font-weight: 700;
   font-size: 36px;
   line-height: 1.2;
   text-align: center;
   letter-spacing: 0.03em;
}

/* block our_command */
.our_command {
   background-color: var(--commands-bg);
}
.command__title {
   font-weight: 700;
   font-size: 36px;
   line-height: 1.7;
   text-align: center;
   letter-spacing: 0.03em;
}
.person__title {
   font-weight: 500;
   font-size: 16px;
   line-height: 1.2;
   text-align: center;
   letter-spacing: 0.03em;
}
.person__status {
   font-weight: 400;
   font-size: 16px;
   line-height: 1.2;
   text-align: center;
   letter-spacing: 0.03em;
   color: var(--second-text-color);
}
/*  block footer */
.footer {
   background-color: var(--second-bg);
}

.footer_logo {
   font-family: 'Raleway', sans-serif;
   font-weight: 700;
   font-size: 26px;
   line-height: 1.2;
   color: var(--white-text);
   letter-spacing: 0.03em;
}

.footer-adress-links {
   font-weight: 400;
   font-size: 14px;
   line-height: 1.7;
   letter-spacing: 0.03em;
   color: var(--white-text);
}
.footer-adress-links:hover,
.footer-adress-links:focus {
   color: var(--accent-blue);
}

.footer-connect-links {
   font-weight: 400;
   font-size: 14px;
   line-height: 1.7;
   letter-spacing: 0.03em;
   color: rgba(255, 255, 255, 0.6);
}
.footer-connect-links:hover,
.footer-connect-links:focus {
   color: var(--accent-blue);
}

/* ------------------------------- PORTFOLIO -------------------------- */

/* buttons */
.portfolio__title {
   display: none;
}
.buttons {
   font-weight: 500;
   font-size: 16px;
   line-height: 1.6;
   text-align: center;
   letter-spacing: 0.03em;
   color: var(--basic-text-color);
   background-color: var(--primary-bg-buttons);
   border-radius: 4px;
   box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
   border: none;
}
.buttons:hover,:focus {
   background-color: var(--accent-blue);
   color: var(--hero-text);
}

/* cards */

.cards__title {
   font-weight: 700;
   font-size: 18px;
   line-height: 2;
   letter-spacing: 0.06em;
}

.cards__text {
   font-weight: 400;
   font-size: 16px;
   line-height: 1.6;
   letter-spacing: 0.03em;
   color: var(--second-text-color);
}
.cards__box {
   background-color: var(--white-bg);
   box-sizing: border-box;
   border: 1px solid #EEEEEE;
}