:root {
   --accent-blue:#2196F3;
   --hero-text: #ffffff;
   --basic-text-color: #212121;
   --second-text-color: #757575;
   --white-text: #ffff;
   --basic-bg: #E5E5E5;
   --second-bg: #2F303A;
   --white-bg: #ffff;
   --animation-bg: rgba(33, 150, 243, 0.9);
   --label-bg: rgba(47, 48, 58, 0.8);
   --commands-bg: #F5F4FA;
   --primary-bg-buttons: #F5F4FA
}
a {
   text-decoration: none;
}
.list {
   margin: 0px;
   padding: 0px;
   list-style: none;
}
body {
   background-color:var(--basic-bg);
   color: var(--basic-text-color);
   font-family: 'Roboto', sans-serif;
   font-size: 14px;
   letter-spacing: 0.03em;
}
h1,h2,h3,h4,h5,h6,p{
   margin: 0px;
}
.container {
   margin-left: auto;
   margin-right: auto;
   width: 1200px;
   padding: 0px, 15px;
   outline: solid tomato;
}
/* блок хедер */
.header {
   background-color: var(--white-bg);
}
.header-logo {
   font-family: 'Raleway', sans-serif;
   font-weight: 700;
   font-size: 26px;
   line-height: 1.2;
   color: var(--basic-text-color);
   letter-spacing: 0.03em;

}
.color-blue {
   color: var(--accent-blue);
}

.navigation-links {
   font-weight: 500;
   font-size: 14px;
   line-height: 1.15;
   letter-spacing: 0.02em;
   color: var(--basic-text-color);
}

.navigation-links:hover,
.navigation-links:focus {
   color: var(--accent-blue);
}

.adress-links {
   font-weight: 500;
   font-size: 14px;
   line-height: 1.15;
   letter-spacing: 0.02em;
   color: var(--second-text-color);
}
.adress-links:hover,
.adress-links:focus {
   color: var(--accent-blue);
}

/* блок герой */
.hero {
   background-color: var(--second-bg);
   text-align: center;
}

.hero__title {
   font-size: 44px;
   font-weight: 900;
   line-height: 1.4;
   letter-spacing: 0.06em;
   text-transform: uppercase;
   color: var(--hero-text);
   margin-top: 0px;
   padding-top: 200px;
   margin-bottom: 30px;
}
.hero_button {
   font-weight: 700;
   font-size: 16px;
   line-height: 1.87;
   letter-spacing: 0.06em;
   color: var(--hero-text);
   background-color: var(--accent-blue);
   border-radius: 4px;
   min-width: 200px;
   padding: 10px 32px;
   border: none;
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
   align-items: center;
   text-align: center;
   margin-bottom: 200px;
   
}
.hero_button:hover, :focus {
   background-color: #47a5f2;
}

/* блок description */
.description {
   background-color: var(--basic-bg);
}
.description__title {
   display: none;
}

.description-list{
   padding: 94px 0px;
   width: 270px;
}

.second__title {
   font-weight: 700;
   font-size: 14px;
   line-height: 1.14;
   letter-spacing: 0.03em;
   text-transform: uppercase;
   margin-bottom: 10px;
}

.description__text {
   font-weight: 400;
   font-size: 14px;
   line-height: 1.7;
   letter-spacing: 0.03em;
   color: var(--second-text-color);

}
/* block work */

.work__title {
   font-weight: 700;
   font-size: 36px;
   line-height: 1.2;
   text-align: center;
   letter-spacing: 0.03em;
   margin-bottom: 50px;
}
.work__list{
   padding-bottom: 94px;
}
.img__work{
   display: block;
}

/* block our_command */
.our_command {
   background-color: var(--commands-bg);
}
.command__list{
display: flex;
align-items: center;
justify-content: center;
}
.img__command{

}
.person__container{
   background-color: var(--hero-text);
   box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 0px 0px 4px 4px;
}
.command__title {
   font-weight: 700;
   font-size: 36px;
   line-height: 1.7;
   text-align: center;
   letter-spacing: 0.03em;
   margin-bottom: 50px;
}
.person__title {
   font-weight: 500;
   font-size: 16px;
   line-height: 1.2;
   text-align: center;
   letter-spacing: 0.03em;
   padding-top: 30px;
   margin-bottom: 10px;
}
.person__status {
   font-weight: 400;
   font-size: 16px;
   line-height: 1.2;
   text-align: center;
   letter-spacing: 0.03em;
   color: var(--second-text-color);
   padding-bottom: 30px;
}
/*  block footer */
.footer {
   background-color: var(--second-bg);
}

.footer_logo {
   font-family: 'Raleway', sans-serif;
   font-weight: 700;
   font-size: 26px;
   line-height: 1.2;
   color: var(--white-text);
   letter-spacing: 0.03em;
}

.footer-adress-links {
   font-weight: 400;
   font-size: 14px;
   line-height: 1.7;
   letter-spacing: 0.03em;
   color: var(--white-text);
}
.footer-adress-links:hover,
.footer-adress-links:focus {
   color: var(--accent-blue);
}

.footer-connect-links {
   font-weight: 400;
   font-size: 14px;
   line-height: 1.7;
   letter-spacing: 0.03em;
   color: rgba(255, 255, 255, 0.6);
}
.footer-connect-links:hover,
.footer-connect-links:focus {
   color: var(--accent-blue);
}

/* ------------------------------- PORTFOLIO -------------------------- */

/* buttons */
.portfolio__title {
   display: none;
}
.buttons {
   font-weight: 500;
   font-size: 16px;
   line-height: 1.6;
   text-align: center;
   letter-spacing: 0.03em;
   color: var(--basic-text-color);
   background-color: var(--primary-bg-buttons);
   border-radius: 4px;
   box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
   border: none;
}
.buttons:hover,:focus {
   background-color: var(--accent-blue);
   color: var(--hero-text);
}

/* cards */

.cards__title {
   font-weight: 700;
   font-size: 18px;
   line-height: 2;
   letter-spacing: 0.06em;
}

.cards__text {
   font-weight: 400;
   font-size: 16px;
   line-height: 1.6;
   letter-spacing: 0.03em;
   color: var(--second-text-color);
}
.cards__box {
   background-color: var(--white-bg);
   box-sizing: border-box;
   border: 1px solid #EEEEEE;
}